.forma {
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: white;
  background-color: black;
  border-radius: 1rem;
  display: inline-block;
  justify-items: center;
  align-items: center;
  margin: 10px;
}
